<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="../../lib/html5.js"></script>
	<script type="text/javascript" src="../../lib/respond.min.js"></script>
	<script type="text/javascript" src="../../lib/PIE_IE678.js"></script>
	<![endif]-->
	<link href="../../css/H-ui.min.css" rel="stylesheet" type="text/css" />
	<link href="../../css/H-ui.admin.css" rel="stylesheet" type="text/css" />
	<link href="../../lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<title></title>
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-init="initData()">
<div class="pd-20">
	<form class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>组名称：</label>
			<div class="formControls col-5">
				<input type="text" ng-model="model.groupName" class="input-text" value="" placeholder="" datatype="*1-100" nullmsg="名称不能为空">
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">组关键字：</label>
			<div class="formControls col-5">
				<input type="text" ng-model="model.groupKey" placeholder="" value="" class="input-text">
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">所属部门：</label>
			<div class="formControls col-5">
				<span class="select-box" style="width:300px;">
				<select  class="select" ng-model="model.departmentId" ng-options="m.departmentId as m.departmentName for m in options.dept">
				</select>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-3">备注：</label>
			<div class="formControls col-5">
				<input type="text" ng-model="model.remark" class="input-text" value="" placeholder="" >
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-3">状态：</label>
			<div class="formControls col-5 ">
				<div class="check-box">
					<input type="checkbox" ng-model="model.status" id="public"  >
					<label for="public">启用</label>
				</div>
			</div>
			<div class="col-4"> </div>
		</div>

		<div class="row cl">
			<div class="col-9 col-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="../../lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="../../lib/angular.min.js"></script>
<script type="text/javascript" src="../../js/H-ui.js"></script>
<script type="text/javascript" src="../../js/H-ui.admin.js"></script>
<script type="text/javascript" src="../../js/app.js"></script>
<script type="text/javascript" src="../../js/angular_base.js"></script>
<script type="text/javascript" src="../../js/user/user_group.js"></script>
<script type="text/javascript">
	$(function(){
		$("#form-admin-add").Validform({
			tiptype:2,
			callback:function(form){
				var appElement = document.querySelector('[ng-controller=myCtrl]');
				var $scope = angular.element(appElement).scope();
				$scope.submitForm();
//			var index = parent.layer.getFrameIndex(window.name);
//			parent.$('.btn-refresh').click();
//			parent.layer.close(index);
			}
		});
	});
</script>
</body>
</html>