<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="../../lib/html5.js"></script>
<script type="text/javascript" src="../../lib/respond.min.js"></script>
<script type="text/javascript" src="../../lib/PIE_IE678.js"></script>
<![endif]-->
<link href="../../css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="../../css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="../../css/style.css" rel="stylesheet" type="text/css" />
<link href="../../lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="../../lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title></title>
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-init="listItems()">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 基础平台 <span class="c-gray en">&gt;</span> 用户组 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<div class="text-c">
		<input type="text" class="input-text" ng-model="dg.searchStr" ng-keyup="dg.searchKeyup($event)" style="width:250px" placeholder="输入关键字" id="" name="">
		<button class="btn btn-success" ng-click="listItems()" id="" name="">
			<i class="Hui-iconfont">&#xe665;</i> 搜索
		</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" ng-click="addItem('添加用户组','user_group_prop.html')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 添加
			</a>&nbsp;
			<font color="gray">&nbsp;选择信息：</font>
			<a href="javascript:;" ng-click="memberManager('管理成员','user_group_member.html')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe62b;</i> 管理成员
			</a>&nbsp;
			<a href="javascript:;" ng-click="setPerm('设置权限','../perm/perm.html')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe63c;</i> 设置权限
			</a>&nbsp;
			<a href="javascript:;" ng-click="dg.deleteItem()" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 删除
			</a>
		</span>
	</div>

	<my-grid gid="dg">
		<my-grid-column headtext="组名称" itemrender="name.html" width="200">
			<script type="text/ng-template" id="name.html">
				<a ng-bind="item.groupName" ng-click="gid.editItem('用户组编辑','user_group_prop.html',item.groupId)"></a>
			</script>
		</my-grid-column>
		<my-grid-column headtext="成员人数" datafield="memberCount" width="200"></my-grid-column>
		<my-grid-column headtext="组权限" width="200"></my-grid-column>
		<my-grid-column headtext="说明" datafield="remark" width="200"></my-grid-column>
		<my-grid-column headtext="状态" datafield="status" width="70"></my-grid-column>
		<my-grid-column headtext="操作" itemrender="oper.html" width="70">
			<script type="text/ng-template" id="oper.html">
				<a title="编辑" href="javascript:;" ng-click="gid.editItem('用户组编辑','user_group_prop.html',item.groupId)" style="text-decoration:none">
					<i class="Hui-iconfont">&#xe6df;</i>
				</a>
				<a title="删除" href="javascript:;" ng-click="gid.deleteItem(item.groupId)" class="ml-5" style="text-decoration:none">
					<i class="Hui-iconfont">&#xe6e2;</i>
				</a>
			</script>
		</my-grid-column>
	</my-grid>

</div>
<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="../../lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="../../lib/angular.min.js"></script>
<script type="text/javascript" src="../../js/H-ui.js"></script>
<script type="text/javascript" src="../../js/H-ui.admin.js"></script>
<script type="text/javascript" src="../../js/app.js"></script>
<script type="text/javascript" src="../../js/angular_base.js"></script>
<script type="text/javascript" src="../../js/user/user_group.js"></script>

</body>
</html>