<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="../../lib/html5.js"></script>
<script type="text/javascript" src="../../lib/respond.min.js"></script>
<script type="text/javascript" src="../../lib/PIE_IE678.js"></script>
<![endif]-->
<link href="../../css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="../../css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="../../css/style.css" rel="stylesheet" type="text/css" />
<link href="../../lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="../../lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title></title>
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-init="initData()">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 基础平台 <span class="c-gray en">&gt;</span> 控制面板设定 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<div class="text-c">
		<input id="showAll" type="checkbox" ng-model="param.status" ng-change="changeParam()"/>&nbsp;<label for="showAll">显示关闭的菜单</label>
		&nbsp;&nbsp;&nbsp;&nbsp;
		选择模块：<select ng-model="param.parentClassId" ng-change="changeParam()" ng-options="m.classId as m.itemName for m in options.items" >
			</select>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="text" class="input-text" ng-model="searchStr" ng-keyup="searchKeyup($event)" style="width:250px" placeholder="输入关键字" id="" name="">
		<button class="btn btn-success" ng-click="listItems()" name="">
			<i class="Hui-iconfont">&#xe665;</i> 搜索
		</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" ng-click="addItem('控制面板设置','control_panel_prop.html')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 添加
			</a>&nbsp;
			<font color="gray">&nbsp;选择信息：</font>
			<a href="javascript:;" ng-click="doMove(1)" class="btn btn-primary radius">
				上移
			</a>&nbsp;
			<a href="javascript:;" ng-click="doMove(-1)" class="btn btn-primary radius">
				下移
			</a>&nbsp;
			<a href="javascript:;" ng-click="deleteItem()" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 删除
			</a>
		</span>
	</div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">控制面板列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" ng-model="checkAllVal" ng-click="checkAll()"></th>
				<th width="200">名称</th>
				<th width="200">对应的权限代码</th>
				<th width="200">状态</th>
				<th width="70">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c" ng-repeat="item in items">
				<td><input type="checkbox" ng-model="item.checked" ng-click="checkItem(item.checked)"></td>
				<td style="text-align: left"><a ng-bind-html="item.itemName|html" ng-click="editItem('控制面板设置','control_panel_prop.html',item.itemId)"></a></td>
				<td ng-bind="item.moduleCode"></td>
				<td ng-bind="item.status==1?'启用':'禁用'" ng-class="{'1':'font_green', '0': 'font_red'}[item.status]"></td>
				<td class="f-14">
					<a title="编辑" href="javascript:;" ng-click="editItem('控制面板设置','control_panel_prop.html',item.itemId)" style="text-decoration:none">
						<i class="Hui-iconfont">&#xe6df;</i>
					</a>
					<a title="删除" href="javascript:;" ng-click="deleteItem(item.itemId)" class="ml-5" style="text-decoration:none">
						<i class="Hui-iconfont">&#xe6e2;</i>
					</a>
				</td>
			</tr>
			<tr class="text-c" ng-if="gridPrompt"><td colspan="30" ng-bind="gridPromptTxt"></td></tr>
		</tbody>
	</table>
	<br>
	<div id="pagingDiv"></div>
</div>
<script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="../../lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="../../lib/angular.min.js"></script>
<script type="text/javascript" src="../../js/H-ui.js"></script>
<script type="text/javascript" src="../../js/H-ui.admin.js"></script>
<script type="text/javascript" src="../../js/app.js"></script>
<script type="text/javascript" src="../../js/angular_base.js"></script>
<script type="text/javascript" src="../../js/perm/control_panel_list.js"></script>

</body>
</html>